.title
{
	margin-bottom: 50px;
	text-align: center;
	font-size: 37px;
	text-decoration: underline;
	color: #b35900;
	text-transform: uppercase;
}

.rooms-type
{
	padding: 70px;
	border-bottom: 1px solid #888
}

.rooms-type:last-of-type
{
	border-bottom: 0
}

.rooms-item
{
	text-align: center;
	width: 20%;
	display: inline-block;
	margin-right : 6%;
}

.rooms-item:last-of-type
{
	margin-right : 0;
}

.item-title
{
	font-size: 20px;
	margin: 10px 0;
	font-weight: normal;
}

.item-desc
{
	margin-bottom: 15px;
	padding-left: 30px;
}